<% include partials/header %>
<h1>This is the home page</h1>

<img src="https://www.rd.com/wp-content/uploads/2018/02/09_Adorable-Puppy-Pictures-that-Will-Make-You-Melt_344136443_unbrokenworld-760x506.jpg">
<% include partials/footer %>